<%= form_for note, html: { class: "wrap" } do |f| %>
  <% flash.each do |type, msg| %>
    <div class="<%= type %>">
      <%= msg %>
    </div>
  <% end %>

  <% @note.errors.full_messages.each do |msg| %>
    <div class="error">
      <%= msg.downcase %>
    </div>
  <% end %>


  <div class="grow-wrap">
    <%= f.text_area :body, style: "display: none;", data: { controller: "editor", editor_target: "editor" } %>
  </div>

  <div class="form-tools">
    <div>
      <%= f.text_field :password, placeholder: 'edit password' %>
      <span class="small">
        <% if f.object.persisted? %>
          will persist the edit
        <% else %>
          set one to edit later
        <% end %>
      </span>
    </div>
    <% if f.object.persisted? %>
      <div>
        <%= f.text_field :new_password, placeholder: 'new edit password' %>
        <span class="small">leave blank if unchanged</span>
      </div>
    <% end %>
    <div>
      <%= f.text_field :slug, placeholder: 'custom slug' %>
      <span class="small">set a custom URL slug</span>
    </div>
    <div>
      <%= f.submit "paste" %>
      <% if f.object.new_record? %><span class="small"><%= link_to "what is this?", "/about" %></span><% end %>
    </div>
  </div>
<% end %>
