<% flash.each do |type, msg| %>
  <div class="info">
    <%= msg %>
  </div>
<% end %>

<div class="note">
  <div class="markdown-body">
    <%= body_to_html(@note.body) %>
  </div>
</div>

<div class="data">
  <%= link_to "edit", [:edit, @note] %> |
  <%= link_to "new", root_path %> |
  created at <%= @note.created_at.to_fs(:short) %> |
  updated at <%= @note.updated_at.to_fs(:short) %> |
  <%= @note.views %> views |
  <%= link_to "what is this?", "/about" %>
</div>
