<!DOCTYPE html>
<html>
  <head>
    <title>~/paste</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <meta name="title" content="paste - simple markdown pastebin">
    <meta name="description" content="simple markdown store similar to pastebin">
    <meta property="og:type" content="website">
    <meta property="og:url" content="https://paste.lasanga.pizza/">
    <meta property="og:title" content="paste - simple markdown pastebin">
    <meta property="og:description" content="simple markdown store similar to pastebin">
    <meta property="og:image" content="https://paste.lasanga.pizza/social-preview-image.png">
    <meta name="robots" content="noindex">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application" %>
    <%= javascript_importmap_tags %>
  </head>

  <body>
    <div class="container">
      <%= yield %>
    </div>
  </body>
</html>
